body {
    min-height: 100%;
    font-size: 18px;
}

#audio-player-wrapper {
    /*position: fixed;*/
    /*top: 20px;*/
    /*left: 0;*/
    z-index: 5;
    width: 90%;
    margin: 15px 5px 0 5px;
    height: 80px;
    background: -webkit-linear-gradient(top, rgba(255,255,255,.8) 64%, rgba(255,255,255,0) 100%);
}
#audio-list-wrapper {
    padding-top: 95px;
    /*padding-bottom: 46px;*/
}
#copyright-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 36px;
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, white 40%);
    text-align: center;
}
#copyright {
    padding-top: 20px;
    font-size: 12px;
}
/*#drop-place-wrapper {*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*z-index: 80;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: rgba(255,255,255,.8);*/
/*}*/
#drop-place {
    width: 80%;
    padding: 80px;
    margin: 0 30px 30px;
    border: 5px dashed #999;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    font-size: 60px;
    line-height: 120px;
    color: #666;
}


#audio-player {
    display: none;
    width: 100%;
}

#diy-player {
    padding-bottom: 20px;
    height: 50px;
    overflow: hidden;
    position: relative;
}

#play-btn-wrapper {
    width: 40px;
    height: 40px;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 5px;
    z-index: 8;
}
#play-btn {
    width: 38px;
    height: 38px;
    border: 1px solid #0663e4;
    border-radius: 20px;
    cursor: pointer;
}
#play-btn-triangle {
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 15px solid #0663e4;
    margin-top: 8px;
    margin-left: 14px;
}
#play-btn-pause {
    width: 14px;
    height: 18px;
    margin-top: 9px;
    margin-left: 12px;
    display: none;
}
#play-btn-pause .part-1 {
    width: 4px;
    height: 100%;
    float: left;
    background-color: #0663e4;
}
#play-btn-pause .part-2 {
    width: 4px;
    height: 100%;
    float: right;
    background-color: #0663e4;
}

#play-btn.play #play-btn-pause {
    display: none;
}
#play-btn.pause #play-btn-triangle {
    display: none;
}
#play-btn.pause #play-btn-pause {
    display: block;
}

#switch-btn-wrapper {
    width: 30px;
    height: 40px;
    padding-top: 5px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 7;
}

#prev-btn, #next-btn {
    padding: 3px 0;
    cursor: pointer;
}
#next-btn {
    margin-top: 5px;   
}

#prev-btn-triangle {
    border-bottom: 12px solid #1288ca;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-radius: 10px;
}
#next-btn-triangle {
    border-top: 12px solid #1288ca;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-radius: 10px;
}

#player-center-wrapper {
    height: 40px;
    padding: 5px 50px 5px 65px;
}

#player-center {
    width: 100%;
    height: 100%;
}
#player-center .row {
    position: relative;
}

#audio-name-volume {
    height: 20px;
}

#audio-name-wrapper {
    padding-right: 200px;
    height: 100%;
    line-height: 20px;
    overflow: hidden;
}
#audio-name {
    font-size: 18px;
    padding-left: 10px;
    color: black;
}
#audio-volume-wrapper {
    width: 150px;
    padding: 8px 40px 0 22px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    line-height: 8px;
}
#audio-volume {
    width: 100%;
    -webkit-appearance:none !important;
    height: 5px;
    border-radius: 3px;
    background-color: #bebebe;
}
#audio-volume::-webkit-slider-thumb{
    -webkit-appearance:none !important;
    width: 18px;
    height: 18px;
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 13px;
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
}
#play-speed-wrapper {
    width: 85px;
    position: absolute;
    right: 200px;
    top: 0;
    z-index: 30;
    line-height: 10px;
}

#play-speed {
    width: 80px;
    height: 20px;
    border-radius: 10px;
    color: #666;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
}

#loop-mode-wrapper {
    width: 20px;
    position: absolute;
    right: 172px;
    top: 0;
    z-index: 30;
    line-height: 8px;
}

#loop-single {
    width: 22px;
    height: 22px;
    border-radius: 10px;
    border: 1px solid #c2c2c2;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    color: #c2c2c2;
    cursor: pointer;
}
#loop-single.active {
    border-color: #0663e4;
    color: #0663e4;
}

#icon-volume-low {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12;
    width: 20px;
    height: 100%;
}
#icon-volume-low .part-1 {
    position: absolute;
    top: 7px;
    left: 0;
    z-index: 13;
    width: 10px;
    height: 8px;
    background-color: #c2c2c2;
}
#icon-volume-low .part-2 {
    position: absolute;
    top: 1px;
    left: 2px;
    z-index: 14;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 12px solid #c2c2c2;
}

#icon-volume-high {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    width: 32px;
    height: 100%;
}
#icon-volume-high .part-1 {
    position: absolute;
    top: 7px;
    left: 0;
    z-index: 28;
    width: 10px;
    height: 8px;
    background-color: #c2c2c2;
}
#icon-volume-high .part-2 {
    position: absolute;
    top: 1px;
    left: 2px;
    z-index: 29;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 12px solid #c2c2c2;
}
#icon-volume-high .part-3 {
    border: 2px solid #c2c2c2;
    border-radius: 6px;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 5px;
    left: 8px;
    z-index: 26;
}
#icon-volume-high .part-4 {
    width: 8px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 1px;
    left: 8px;
    z-index: 27;
}
#icon-volume-high .part-5 {
    border: 2px solid #c2c2c2;
    border-radius: 8px;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 3px;
    left: 9px;
    z-index: 24;
}
#icon-volume-high .part-6 {
    width: 18px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 1px;
    left: 2px;
    z-index: 25;
}
#icon-volume-high .part-7 {
    border: 2px solid #c2c2c2;
    border-radius: 10px;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 1px;
    left: 10px;
    z-index: 22;
}
#icon-volume-high .part-8 {
    width: 18px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 1px;
    left: 6px;
    z-index: 23;
}

#audio-timeline {
    font-size: .8em;
    color: #666;
    margin-top: 8px;
    height: 14px;
}
#audio-time-current {
    width: 42px;
    position: absolute;
    top: 0;
    left: 0;
}
#audio-time-total {
    width: 48px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}
#audio-process-wrapper {
    padding-left: 44px;
    padding-right: 50px;
}
#audio-process {
    width: 100%;
    height: 12px;
    -webkit-appearance:none !important;
    background-color: #dfdfdf;
}
#audio-process::-webkit-slider-thumb{
    -webkit-appearance:none !important;
    width: 3px;
    height: 24px;
    background-color: red;
}


#audio-list {
    display: none;
}

#audio-list a {
    padding: .5em 10px;
    float: left;
    width: 95%;
    text-decoration: none;
    border-bottom: 1px dashed;
    background-color: #ffffff;
    text-align: center;
}

#audio-list a:hover {
    text-shadow: 1px 1px 5px white, -1px -1px 2px #ccc;
}

#pop-win-wrapper {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 60;
    background-color: rgba(0,0,0,.4);
}
#pop-win-wrapper .mask {
    width: 100%;
    height: 100%;
}
#pop-win-wrapper .pop-win {
    width: 600px;
    margin: 0 auto;
    background-color: rgba(255,255,255,.9);
    box-shadow: 0 0 8px #999;
    border-radius: 3px;
}

.win-content {
    padding: 25px 40px;
}
.win-content h1 {
    color: #68b11d;
    float: right;
    font-size: 14px;
    margin-top: -20px;
    margin-right: -35px;
}
.win-content .shortcuts {
    width: 100%;
}
.win-content .shortcuts tr {
    border-top: 1px solid #ccc;
}
.win-content .shortcuts tr:first-child {
    border-top: none;
}
.win-content .shortcuts th, .win-content .shortcuts td {
    padding: 8px 40px;
}
.win-content .shortcuts th{
    text-align: center;
    font-weight: bold;
}

#pop-win-wrapper .close-btn {
    float: left;
    margin-top: -10px;
    margin-left: -10px;
    width: 25px;
    height: 25px;
    background-color: black;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 0 0 8px #333;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    color: white;
    cursor: pointer;
}

.clock-wrapper {
    text-align: center;
    margin-top: 20px;
}
.clock {
    display: inline-block;
    width: auto;
}

.action-list .btn{
    width: 100px;
    height: 40px;
    margin: 0 10px;
}

.action-list i {
    font-size: 2.5rem;
}

#recordingsList {
    height: 300px;
    overflow-y: auto;
    border: 5px dashed #999;
    border-radius: 20px;
    padding: 20px;
}
#recordingsList audio {
    width: 80%;
    margin: 5px 10px;
}
#recordingsList .btn {
    float: right;
    margin: 5px;
}

.copyright {
    text-align: center;
    width: 100%;
    color: #999;
    font-size: .8rem;
}

